<app-headers> </app-headers>


<div class="container">

    <!--<form [formGroup]="editarForm" (ngSubmit)="postForm(editarForm.value)">-->
    <form [formGroup]="editarForm" (ngSubmit)="postForm(editarForm.value)">
        <div class="form-group">
            <label for="exampleFormControlInput1">Id</label>
            <input type="number" class="form-control" placeholder="id" name="id" formControlName="id">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Guia</label>
            <input type="text" class="form-control" placeholder="id_guia" name="id_guia" formControlName="id_guia">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Destinatario</label>
            <input type="text" class="form-control" placeholder="destinatario" name="destinatario" formControlName="destinatario">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">users_id</label>
            <input type="number" class="form-control" placeholder="users_id" name="users_id" formControlName="users_id">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Direccion</label>
            <input type="text" class="form-control" placeholder="direccion" name="direccion" formControlName="direccion">
        </div>

        <br>
        <button type="submit" class="btn btn-success" style="margin: 10px">Guardar</button> 
        <button type="button" class="btn btn-info" (click)="salir()">Volver</button>
    </form>

</div>


